@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');

.clients-heading{
    font-size: 40px;
    text-align: center;
    font-family: 'Ovo',serif;
    margin: 50px 0px;
}

.angle-icon{
    color: gold;
    text-align: center;
}